export OPENAI_API_KEY=YOUR-OPENAI-API-KEY

export BRAT_DATA_PATH=PATH-TO-BRAT-ANNOTATION-SUBDIRECTORIES
export DATA_CATEGORY_DEFINITION=PATH-TO-DATA-CATEGORY-DEFINITION-CSV-FILE
export DATA_CATEGORY_HIERARCHY=PATH-TO-DATA-CATEGORY-HIERARCHY-TEXT-FILE
export PURPOSE_CATEGORY_DEFINITION=PATH-TO-PURPOSE-CATEGORY-DEFINITION-CSV-FILE
export PURPOSE_CATEGORY_HIERARCHY=PATH-TO-PURPOSE-CATEGORY-HIERARCHY-TEXT-FILE
export LLM_QUERY_CACHE_DIR=PATH-TO-LLM-QUERY-CACHE-DIRECTORY